<h1>Hot Weather Widget</h1>
<div class="element" fxLayout="column" fxLayoutGap="30px">
    <mat-checkbox (change)="checkBox($event)" [checked]="isAdmin()">Are you admin?</mat-checkbox>
    <mat-card class="app-card">
        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input #myInput matInput placeholder="Placeholder" (keyup)="setFilterValue(myInput.value)">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">

        <app-hotels-list fxFlex="calc(40%-30px)" [filterString]="filterString"></app-hotels-list>
        <div fxFlex="30%" flexLayout="column">
            <app-weather></app-weather>
            <app-profile></app-profile>
        </div>
        <div fxFlex="30%" flexLayout="column">
            <app-favorite-hotels></app-favorite-hotels>
        </div>
    </div>
</div>
