<!-- <app-header></app-header> -->  
<h1>Hot Weather Widget</h1>

<div class="element" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="30px">
    <app-hotels-list fxFlex="calc(60%-30px)" [hotels]="hotels" [picture]="selectedHotel.picture" (getHotel)="onSelectHotel($event)"></app-hotels-list>
    <div fxFlex="40%" flexLayout="column">
        <app-weather *ngIf="selectedHotel?.weather"  [weather]="selectedHotel?.weather"></app-weather>
        <app-profile *ngIf="selectedHotel?.profile" [profile]="selectedHotel?.profile"></app-profile>
    </div>
</div>
<app-footer></app-footer>