<div class="activity-row" fxLayout="row" fxLayoutAlign="space-between">
    <div class="activity-desc" fxFlex="50">
        <h5>{{hotel?.title}} {{hotel?.id}}</h5>
        <p>{{hotel?.description}}</p>
        <p>{{hotel?.address}}</p>
        <h6>Tel:{{hotel?.phone}}</h6>
    </div>
    <div class="activity-img" fxFlex="50" fxFlexLoyout="column">
        <ul fxFlexLoyout="row">
            <li *ngFor="let photo of hotel.photos">
                <img [src]="photo" alt="hotel photo" />
            </li>
        </ul>
        {{hotel.stars}}
        <button class="favorite-btn" mat-icon-button color="accent" aria-label="icon-button with a heart icon"
            matTooltip="Add to favorite" (click)="addToFavorite(hotel, $event)">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between" *ngIf="isAdmin()">
    <button class="favorite-btn" mat-icon-button color="accent" aria-label="icon-button with a clear icon"
        matTooltip="Delete hotel" (click)="deleteHotel(hotel, $event)">
        <mat-icon>clear</mat-icon>
    </button>
    <button class="favorite-btn" mat-icon-button color="primary" aria-label="icon-button with a edit icon"
    matTooltip="edit hotel" (click)="editHotel(hotel, $event)">
    <mat-icon>edit</mat-icon>
</button>
</div>